{% comment %}

  Side navigation for the type (category), vendor (brand), and tags
  in the current collection.

  Use product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' for more documentation.
    - http://docs.shopify.com/manual/configuration/store-customization/page-specific/collections/subcategories

{% endcomment %}


{% comment %}
  Show the description for the current collection
{% endcomment %}
{% if collection.description.size > 0 %}
<div class="rte">
  {{ collection.description }}
</div>
{% endif %}

{% comment %}
  Product types in the current collection
{% endcomment %}
<h3>Categories</h3>
{% if collection.all_types.size > 0 %}

  <ul>
    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for type in collection.all_types %}
      {% if collection.current_type == type %}
      <li class="active-tag">
        {{ type | link_to_remove_type }}
      </li>
      {% else %}
      <li>
        {{ type | link_to_type }}
      </li>
      {% endif %}
    {% endfor %}

  </ul>

{% else %}

  <p>Add a type to your products for this list to build itself. All lists are created in <strong>collection-tags.liquid</strong>.</p>

{% endif %}

{% comment %}
  Product vendors in the current collection
{% endcomment %}
<h3>Brands</h3>
{% if collection.all_vendors.size > 0 %}

  <ul>
    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for vendor in collection.all_vendors %}
      {% if collection.current_vendor == vendor %}
      <li class="active-tag">
        {{ vendor | link_to_remove_vendor }}
      </li>
      {% else %}
      <li>
        {{ vendor | link_to_vendor }}
      </li>
      {% endif %}
    {% endfor %}

  </ul>

{% else %}

  <p>Add a vendor to your product for this list to build itself.</p>

{% endif %}

{% comment %}
  Product tags in the current collection
{% endcomment %}
<h3>Tags</h3>
{% if collection.all_tags.size > 0 %}

  {% comment %}
    Say we want to provide a 'catch-all' link at the top of the list,
    we'd check against the collection.handle, product type, and vendor.
  {% endcomment %}

  <ul>
    <li{% unless current_tags %} class="active"{% endunless %}>

      {% comment %}
        Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}">Everything in {{ collection.title }}</a>

      {% comment %}
        Good for automatic type collections
      {% endcomment %}
      {% elsif collection.current_type %}
      <a href="{{ collection.current_type | url_for_type }}">Everything in {{ collection.title }}</a>

      {% comment %}
        Good for automatic vendor collections
      {% endcomment %}
      {% elsif collection.current_vendor %}
        <a href="{{ collection.current_vendor | url_for_vendor }}">Everything in {{ collection.title }}</a>

      {% endif %}
    </li>

    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <li class="active-tag">
        {{ tag | link_to_remove_tag: tag }}
      </li>
      {% else %}
      <li>
        {{ tag | link_to_tag: tag }}
      </li>
      {% endif %}
    {% endfor %}

  </ul>

{% else %}

  <p>Add tags to your products for this list to build itself.</p>

{% endif %}