{% comment %}

  Listing all tags within the current collection.

  We suggest creating a mobile-friendly version of the tag list so it
  doesn't take up an entire page on small screens.

  Use product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' for more documentation.
    - http://support.shopify.com/customer/portal/articles/75425

{% endcomment %}


{% comment %}
  An optional addition, show the description for the current collection.
{% endcomment %}
{% if collection.description.size > 0 %}
<div class="rte">
  {{ collection.description }}
</div>
{% endif %}


{% if collection.all_tags.size > 0 %}

{% comment %}
  Say we want to provide a 'catch-all' link at the top of the list,
  we'd check against the product.handle, product type, and vendor.

  Alas, the collection title is escaped, while vendor and type aren't,
  so in comparisons we need to escape type and vendor.
{% endcomment %}
{% assign type_escaped = collection.products.first.type | escape %}
{% assign vendor_escaped = collection.products.first.vendor | escape %}

  <h3>Tags</h3>

  <ul>
    <li{% unless current_tags %} class="active"{% endunless %}>

      {% comment %}
        Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}">Everything in {{ collection.title }}</a>

      {% comment %}
        Good for automatic type collections
      {% endcomment %}
      {% elsif type_escaped == collection.title %}
      <a href="{{ collection.products.first.type | url_for_type }}">Everything in {{ collection.title }}</a>

      {% comment %}
        Good for automatic vendor collections
      {% endcomment %}
      {% elsif vendor_escaped == collection.title %}
        <a href="{{ collection.products.first.vendor | url_for_vendor }}">Everything in {{ collection.title }}</a>

      {% endif %}
    </li>

    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <li class="active-tag">
        {{ tag | link_to_remove_tag: tag }}
      </li>
      {% else %}
      <li>
        {{ tag | link_to_tag: tag }}
      </li>
      {% endif %}
    {% endfor %}

  </ul>

{% else %}

<p>Add some tags for a sub navigation to built itself here. Manage this list in <strong>collection-tags.liquid</strong>.</p>

{% endif %}