<div class="form-horizontal">
  <label for="sortBy">{{ 'collection_sorting.title' | t }}</label>
  <select name="sortBy" id="sortBy">
    <option value="manual">{{ 'collection_sorting.featured' | t }}</option>
    <option value="best-selling">{{ 'collection_sorting.best_selling' | t }}</option>
    <option value="title-ascending">{{ 'collection_sorting.az' | t }}</option>
    <option value="title-descending">{{ 'collection_sorting.za' | t }}</option>
    <option value="price-ascending">{{ 'collection_sorting.price_ascending' | t }}</option>
    <option value="price-descending">{{ 'collection_sorting.price_descending' | t }}</option>
    <option value="created-descending">{{ 'collection_sorting.date_descending' | t }}</option>
    <option value="created-ascending">{{ 'collection_sorting.date_ascending' | t }}</option>
  </select>
</div>

<script>
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }

  $(function() {
    $('#sortBy')
      // select the current sort order
      .val('{{ collection.sort_by | default: collection.default_sort_by }}')
      .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      }
    );
  });
</script>
