{% comment %}

  This snippet generates the structure of a comment.
  It is used to show not only recent comments, but also comments that were
  just published but not yet approved.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

<div class="comment">
  <div class="rte">
    {{ comment.content }}
  </div>

  <span>
    {% assign comment_date = comment.created_at | date: '%Y-%m-%d' %}
    {% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
    {% capture date %}<strong><time datetime="{{ comment_date }}">{{ comment_date }}</time></strong>{% endcapture %}
    {{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
  </span>
</div>
