<footer class="site-footer small--text-center" role="contentinfo">

  <div class="wrapper">

    <div class="grid">

      {% if settings.footer_display_contact %}
      <div class="grid-item medium--one-half large--one-third">
        <h3>{{ settings.footer_contact_title }}</h3>
        <p>
          {% if settings.footer_contact_text != blank %}
            {{ settings.footer_contact_text }}
          {% else %}
            Add some text to show here in your <a href="/admin/themes" title="Edit theme settings"> theme settings</a>.
          {% endif %}
        </p>
      </div>
      {% endif %}

      {% if settings.footer_display_social %}
      <div class="grid-item medium--one-half large--one-third">
        <h3>{{ settings.footer_social_title }}</h3>

        {% comment %}
          Loop through the persistent theme settings and list out each social network link.
        {% endcomment %}
        <ul class="inline-list social-icons">
          {% if settings.twitter_link != blank %}<li class="twitter"><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter">T</a></li>{% endif %}
          {% if settings.facebook_link != blank %}<li class="facebook"><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook">f</a></li>{% endif %}
          {% if settings.pinterest_link != blank %}<li class="pinterest"><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest">p</a></li>{% endif %}
          {% if settings.google_plus_link != blank %}<li class="google-plus"><a href="{{ settings.google_plus_link }}" title="{{ shop.name }} on Google+">g</a></li>{% endif %}
          {% if settings.instagram_link != blank %}<li class="instagram"><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram">i</a></li>{% endif %}
          {% if settings.tumblr_link != blank %}<li class="tumblr"><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr">t</a></li>{% endif %}
          {% if settings.youtube_link != blank %}<li class="youtube"><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube">y</a></li>{% endif %}
          {% if settings.vimeo_link != blank %}<li class="vimeo"><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo">v</a></li>{% endif %}
          {% if settings.fancy_link != blank %}<li class="fancy"><a href="{{ settings.fancy_link }}" title="{{ shop.name }} on Fancy">F</a></li>{% endif %}
        </ul>
      </div>
      {% endif %}

      {% if settings.footer_display_newsletter %}
      <div class="grid-item large--one-third">
        <h3>{{ settings.footer_newsletter_title }}</h3>
        {% include 'newsletter-form' %}
      </div>
      {% endif %}
    </div>

    <hr>

    {% comment %}
      Loop through available payment methods and show their icons.
    {% endcomment %}
    {% unless shop.enabled_payment_types == empty %}
    <h4 class="text-center">Accepted Payments</h4>
    <ul class="inline-list payment-icons text-center">
      {% for type in shop.enabled_payment_types %}
        {% if type == "diners_club" %}<li>c</li>{% endif %}
        {% if type == "maestro" %}<li>m</li>{% endif %}
        {% if type == "interac" %}<li>I</li>{% endif %}
        {% if type == "visa" %}<li>V</li>{% endif %}
        {% if type == "master" %}<li>M</li>{% endif %}
        {% if type == "discover" %}<li>D</li>{% endif %}
        {% if type == "dk" %}<li>d</li>{% endif %}
        {% if type == "american_express" %}<li>A</li>{% endif %}
        {% if type == "google" %}<li>G</li>{% endif %}
        {% if type == "paypal" %}<li>P</li>{% endif %}
        {% if type == "jcb" %}<li>J</li>{% endif %}
        {% if type == "cirrus" %}<li>C</li>{% endif %}
        {% if type == "stripe" %}<li>S</li>{% endif %}
        {% if type == "bitcoin" %}<li>B</li>{% endif %}
      {% endfor %}
    </ul>
    {% endunless %}

    <p class="text-center">
      <a href="http://shopify.com/timber">Timber</a> by <a href="http://www.shopify.com?ref=Timber">Shopify</a><br>
      <small>{{ powered_by_link }}</small>
    </p>

  </div>

</footer>