<!-- /snippets/mobile-nav.liquid -->
{% comment %}
  List out your main-menu linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<ul class="mobile-nav">
  <li class="mobile-nav__item mobile-nav__search">
    {% include 'search-bar' %}
  </li>
  {% for link in linklists.main-menu.links %}
    {% comment %}
      Create a dropdown menu by naming a linklist the same as a link in the parent nav

      More info on dropdowns:
        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
    {% endcomment %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
        <div class="mobile-nav__has-sublist">
          <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          <div class="mobile-nav__toggle">
            <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
              <span class="icon icon-plus" aria-hidden="true"></span>
              <span class="fallback-text">See More</span>
            </button>
            <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
              <span class="icon icon-minus" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
            </button>
          </div>
        </div>
        <ul class="mobile-nav__sublist">
          {% for childlink in linklists[child_list_handle].links %}
            <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
              <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
        <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% comment %}
    If customer accounts are enabled, provide login and create account links
  {% endcomment %}
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="mobile-nav__item">
        {% if customer.first_name != blank %}
          {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
          {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
        {% else %}
          <a href="/account">{{ 'layout.customer.account' | t }}</a>
        {% endif %}
      </li>
      <li class="mobile-nav__item">
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </li>
    {% else %}
      <li class="mobile-nav__item">
        {{ 'layout.customer.log_in' | t | customer_login_link }}
      </li>
      {% if shop.customer_accounts_optional %}
      <li class="mobile-nav__item">
        {{ 'layout.customer.create_account' | t | customer_register_link }}
      </li>
      {% endif %}
    {% endif %}
  {% endif %}
</ul>
