{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  This example has each product on it's own line for all breakpoints.

{% endcomment %}

{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}
<div class="grid-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <a href="{{ product.url | within: current_collection }}" class="product-grid-item product-list-item">
    <div class="grid large--display-table">
      <div class="grid-item large--one-fifth large--display-table-cell medium--one-third">
        <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" class="product-grid-image">
      </div>
      <div class="grid-item large--three-fifths large--display-table-cell medium--two-thirds">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        <div class="rte">
          {% if product.excerpt.size > 0 %}
            {{ product.excerpt }}
          {% else %}
            <p>{{ product.content | strip_html | truncatewords: 30 }}</p>
          {% endif %}
        </div>
      </div>
      <div class="grid-item large--one-fifth large--display-table-cell medium--two-thirds">
        <div class="product-item--price">
          <p>
            {% if product.price_varies %}From{% endif %}
            {{ product.price | money }}
          </p>

          {% if on_sale %}
            <p><strong>On Sale</strong> from {{ product.compare_at_price | money }}</p>
          {% endif %}

          {% if sold_out %}
            <p><strong>Sold Out</strong></p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
