<!-- /templates/customers/login.liquid -->
{% layout settings.customer_layout %}

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm">
      {% form 'customer_login' %}

        <h1>{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}

        <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" placeholder="{{ 'customer.login.email' | t }}"{% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

        {% if form.password_needed %}

          <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

          <p>
            <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
          </p>

        {% endif %}

        <p>
          <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <a href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a>

      {% endform %}
    </div>

    {% comment %}
      JS shows/hides this form in timber.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">

      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        {% comment %}
          Assign variable to be used after timber.init() is run in theme.liquid
        {% endcomment %}
        {% if form.posted_successfully? %}
          {% assign resetPassword = true %}
        {% endif %}

        <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

        <p>
          <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
        </p>
        <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
      {% endform %}

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>

</div>
