<!-- /templates/customers/reset_password.liquid -->
{% layout settings.customer_layout %}

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third">

    {% form 'reset_customer_password' %}

      <h1>{{ 'customer.reset_password.title' | t }}</h1>

      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {{ form.errors | default_errors }}

      <label for="ResetPassword" class="label--hidden">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" placeholder="{{ 'customer.reset_password.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

      <label for="PasswordConfirmation" class="label--hidden">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>

      <div class="text-center">
        <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
      </div>

    {% endform %}

  </div>
</div>
