<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Title and description ================================================== -->
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width">

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.ajax_cart %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons
  {% endcomment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <header class="site-header">
    <div class="wrapper">

      {% comment %}
        Use the uploaded logo from theme settings if enabled
      {% endcomment %}
      <h1 class="header-logo">
        {% if settings.use_logo %}
          <a href="/">
            {{ 'logo.png' | asset_url | img_tag: shop.name }}
          </a>
        {% else %}
          <a href="/">{{ shop.name }}</a>
        {% endif %}
      </h1>

      <div class="text-center large-right large--text-right">
        {% comment %}
          You cart/checkout link should at least show the number of items in it.
          Below shows the item count followed by item(s) and the total cart price.

          #cartToggle used to show/hide cart with ajaxify plugin
        {% endcomment %}
        <p>
          <a href="/cart" id="cartToggle">
            Cart ({{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} {{ cart.total_price | money }})
          </a>
        </p>

        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
        <p>
          {% if customer %}
            Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
          {% else %}
            {{ 'Log in' | customer_login_link }}
            {% if shop.customer_accounts_optional %}
            or {{ 'Create an account' | customer_register_link }}
            {% endif %}
          {% endif %}
        </p>
        {% endif %}
      </div>

    </div>
  </header>

  <nav class="nav-bar">
    <div class="wrapper">
      <ul class="site-nav">
        {% comment %}
          List out your main-menu linklist (default)

          More info on linklists:
            - http://docs.shopify.com/themes/liquid-variables/linklists
        {% endcomment %}
        {% for link in linklists.main-menu.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <div class="nav-search">
        {% include 'search-bar' %}
      </div>
    </div>
  </nav>

  <div class="wrapper main-content">

    {{ content_for_layout }}

  </div>

  {% include 'footer' %}

  {% comment %}
    Theme dependent JavaScript.
    docs.js is only used on the documentation page and can be removed on your live site.
  {% endcomment %}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button.
    Enabled by default in theme settings.

    Ajaxify Cart Documentation:
      - http://shopify.com/timber/documentation#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}', // Method options are drawer, modal, and flip. Default is flip.
      wrapperClass: 'wrapper', // The class that defines your site width. Default is null.
      formSelector: '#addToCartForm', // Default is form[action="/cart/add"].
      submitButtonSelector: '#addToCart', // Default is input[type="submit"] within 'formSelector'.
      toggleCartButton: '#cartToggle', // To toggle drawer/modal cart, include the selector here. Default is null and will take you to /cart page.
      useCartTemplate: true, // Set to true to use your /cart template. Default is false.
      btnClass: 'btn' // Your main button class for styling purposes if useCartTemplate is set to false. Default is null.
    });
  });
  </script>
  {% endif %}

</body>
</html>