<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">
  <div class="grid__item large--three-quarters">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header__title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-header__right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
        </div>
      </header>
    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}

          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}

          {% comment %}
            Onboarding content if no products exist
          {% endcomment %}
          <div class="grid__item">
            <div class="helper-section">
              <div class="helper-note">
                <span class="helper-icon"></span>
                <h3>{{ 'collections.onboarding.modal_title' | t }}</h3>
                <p>{{ 'collections.onboarding.no_products_html' | t }}</p>
                <p><a href="/admin/products/new" class="admin-btn-primary">{{ 'collections.onboarding.add_product' | t }}</a></p>
              </div>

              <div class="grid-uniform helper-content">
                {% assign index = 1 %}
                {% for i in (1..8) %}
                  {% case i %}
                    {% when 7 %}
                      {% assign index = 1 %}
                    {% when 8 %}
                      {% assign index = 2 %}
                  {% endcase %}
                  <div class="grid__item one-half large--one-quarter">
                    <a href="/admin/products" class="grid__image">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </a>
                    <p class="h6"><a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a></p>
                    <p>$19.99</p>
                  </div>
                  {% assign index = index | plus: 1 %}
                {% endfor %}
              </div>
            </div>
          </div>

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid-item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <hr>

      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

  </div>

  <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>
</div>

{% endpaginate %}
